In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
url = "https://raw.githubusercontent.com/dickoa/penguins/master/data/penguins_size.csv"
penguins = pd.read_csv(url)

In [4]:
penguins.head(5)

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [11]:
female = np.mean(penguins[penguins['sex'] == 'FEMALE']['body_mass_g'])
male = np.mean(penguins[penguins['sex'] == 'MALE']['body_mass_g'])
point_estimate = male - female
point_estimate

np.float64(683.4117965367964)

In [19]:
#n = len(penguins)
n = penguins.shape[0]