In [44]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame({'female':[94, 299, 393], 'male':[53, 138, 191], 'all':[147, 437, 584]}, index = ['admitted', 'rejected', 'all'])

In [8]:
df

          female  male  all
admitted      94    53  147
rejected     299   138  437
all          393   191  584

In [45]:
# Extract the relevant data
female_admitted = df.loc['admitted', 'female']
female_total = df.loc['all', 'female']
male_admitted = df.loc['admitted', 'male']
male_total = df.loc['all', 'male']
female_proportion = female_admitted/female_total
male_proportion = male_admitted/male_total
observed_diff = female_proportion-male_proportion
observed_diff

np.float64(-0.0383011603586321)

In [18]:
# Create the combined data pool
total_admitted = female_admitted + male_admitted
total_applicants = female_total + male_total
total_rejected = total_applicants - total_admitted

In [33]:
def permutation_test(female_total, male_total, total_admitted, total_rejected, n_permutations = 10_000):
    # Create a pool of all applicants (1 = admitted, 0 = rejected)
    pool = np.concatenate([
        np.ones(total_admitted),
        np.zeros(total_rejected)
    ])
    np.random.shuffle(pool)
    observed_diff = (female_admitted/female_total) - (male_admitted/male_total)
    perm_diffs = []
    for _ in range(n_permutations):
        np.random.shuffle(pool)
        # Split into female and male groups
        female_group = pool[:female_total]
        male_group = pool[female_total:]
        #calculate proportions
        female_prop = np.mean(female_group)
        male_prop = np.mean(male_group)
        #store the difference
        perm_diffs.append(female_prop-male_prop)
    return np.array(perm_diffs), observed_diff

In [34]:
perm_diffs, observed_diff = permutation_test(female_total, male_total, total_admitted, total_rejected)

In [42]:
p_value = np.mean(np.abs(perm_diffs) >= np.abs(observed_diff))

In [43]:
p_value

np.float64(0.3446)